aside {
  /* position:absolute; */
  /* border: 2px solid red; */
  left: 0px;
  width: 20rem;
}

/* .backBtn{
  display: flex;
  align-items: center;
  padding: 1rem;
  color: black;
  justify-self: start;
} */
/* 
.backBtn p{
  font-family: var(--main-font);
  font-size: 1.2rem;
} */

.icon-tabler-arrow-left {
  height: 25px;
  width: 25px
}

.categoryList{
  /* border: 2px solid red;  */
   display: none;
   background-color: var(--accentColor4)
}

.categoryItem {
  color: black;
  font-family: var(--second-font);
  /* line-height: 3rem; */
  padding: 1rem;

}
.categoryList:last-child{
  padding-bottom: 1rem
}

.categoryItem a{
  color: black;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px)  {
/* .backBtn{
  padding: 2rem;
} */

/* .backBtn p{
  font-size: 1.5rem;
} */

 .icon-tabler-arrow-left {
  height: 40px;
  width: 40px
}

.categoryList{
   display: block;
}
}