.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
  margin-inline: auto;
  width: 90%;
  text-wrap: wrap;

}

.card {
  /* background-color: aquamarine; */
  border: 1px solid #aca8a8;
  display: inline-block;
  border-radius: 3px;
  width: 100%;
  /* font-family: 1rem; */
}

.cardImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.cardTextDiv {
  padding: 1.5rem;
}

.itemName {
  padding-bottom: 2rem;
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-family: var(--main-font);
  font-weight: 400;
}

.itemPrice {
  font-size: clamp(1rem, 2vw, 2.5rem);
   font-family: var(--main-font);
}

.colorCircle {
  background-color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-top: 1.2em;
}

@media (min-width: 769px) /*and (max-width: 1024px) */ {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-inline: 8vw;
    width: 100%;
      /* max-width: 1500px */
  }
}


/*............ Desktops ................*/
@media (min-width: 1025px) {

  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    margin-inline: auto;
    width: 80%;
      /* max-width: 1500px */
  }

 .card{
  max-width: 300px;}

.itemName {  
  font-size: clamp(1rem, 1.5vw, 2rem);

 }

 .itemPrice {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.colorCircle {
  background-color: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-top: 1.2em;
}

}