.card {
  font-family: var(--main-font);
  border: 1px solid #b8b4b4;
  display: flex;
  flex-direction: column;
  border-radius: var(--borderRadius);
  color: black;
}

.card:hover{
  background-color: rgb(240, 240, 240);
}

a:hover {
  text-decoration: none;
}

.imgDiv {
  height: 180px;
  display: flex;
  justify-content: center;
  padding-block: 1rem
}

.cardImg {
  max-height: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.cardTextDiv {
  padding: 0.7rem;
  align-self: bottom;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-wrap: wrap;
}

.itemName {
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-family: var(--main-font);
  font-weight: 400;

}

.itemPrice {
  font-size: clamp(1rem, 3vw, 2.5rem);
  font-family: var(--main-font);
  padding-top: 1rem;
  font-weight: 500

}
.beforePrice{
  font-size: 0.9rem;
  color: rgb(112, 111, 111);
}
.colorCircle {
  background-color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-top: 1.2em;

}



/*............ Desktops ................*/
@media (min-width: 1025px) {
  .card {
    max-width: 300px;
  }

  .itemName {
    font-size: clamp(1rem, 1.2vw, 2rem);

  }

  .itemPrice {
    font-size: clamp(1rem, 1.5vw, 2rem);
  }

  .colorCircle {
    background-color: rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-top: 1.2em;
  }

  .imgDiv {
    height: 300px;
  }
  .beforePrice{
  font-size: 1.1rem;
  color: rgb(112, 111, 111);
}
}