.card {
  /* background-color: aquamarine; */
  border: 1px solid #ACA8A8;
  display: inline-block;
  border-radius: 3px;
 
  width: 19rem;
  margin: 50px;
  font-family: 1rem;
}
.cardImg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.cardTextDiv {
  padding: 1.5rem;
}

.itemName {
  padding-bottom: 2rem;
  font-size: 1.4em;
  font-family: "Montserrat";
  font-weight: 400;
}

.itemPrice {
  font-size: 1.4rem;
  font-family: "Montserrat";
}

.colorCircle {
  background-color: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-top: 1.2em;
}

