/* .gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
  margin-inline: auto;
  width: 90%;
  text-wrap: wrap;

} */

.card {
  /* background-color: aquamarine; */
  border: 1px solid #aca8a8;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 100%;
  /* font-family: 1rem; */
   /* align-items:space-between; */
   /* justify-content:stretch; */
}

.cardImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
 
}

.cardTextDiv {
  padding: 0.7rem;
  align-self: bottom;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  text-wrap: wrap;

}

.itemName {
  /* padding-bottom: 2rem; */
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-family: var(--main-font);
  font-weight: 400;
  /* height: 3rem; */  
}

.itemPrice {
  font-size: clamp(1rem, 2vw, 2.5rem);
   font-family: var(--main-font);
   padding-top:1rem;
 
}

.colorCircle {
  background-color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-top: 1.2em;

}



/*............ Desktops ................*/
@media (min-width: 1025px) {



 .card{
  max-width: 300px;}

.itemName {  
  font-size: clamp(1rem, 1.5vw, 2rem);

 }

 .itemPrice {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.colorCircle {
  background-color: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-top: 1.2em;
}

}