.flexDiv {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.cartSummaryDiv {
  order: 1;
}

.heading {
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-family: var(--second-font);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.itemInfo {
  font-family: var(--second-font);
  font-size: 1rem;

}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  border-top: 1px solid var(--accentColor4);
  border-bottom: 1px solid var(--accentColor4);
  margin-right: 1rem;
}

.product-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-top: 1px solid var(--accentColor4);
  border-bottom: 1px solid var(--accentColor4);
  margin-right: 2rem;
  width: 100%
}

.productContainer img {
  width: 5rem;
  aspect-ratio: 1 / 1;
}

.cartText {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  align-items: left;
}

.quantityDiv {
  display: flex;
  margin-block: 0.5rem;
}

.quantityBtn {
  background-color: var(--accentColor1);
  color: white;
  padding: 0.1em 0.4em;
  font-size: 1.4em;
  position: relative;
  height: 100%;
  border: none;
  width: 30px;
  height: 30px;
}

.minusBtn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-inline: 0.5em;
  padding-top: 0em;
  padding-bottom: 0.2em;
}

.plusBtn {

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.quantityInput {
  width: 3rem;
  border-radius: 0px;
  height: 1.9em;
  padding-inline: 0.3rem;
}

.icon-tabler-trash {
  height: 30px;
  width: 30px;
  stroke: rgb(56, 55, 55);
  position: relative;
}

.removeBtn {
  position: absolute;
  right: 25px;
  border: none;
  background-color: transparent;
  /* margin-left:2rem */
}

.removeBtn:active {
  transform: translateY(2px);
}

/* ---- side bar ----*/
.orderSummaryDiv {
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  border: none;
  padding: 1rem;
  order: 2;
  margin-top: 2rem;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.flexBetween a {
  color: var(--accentColor1);
  font-family: var(--second-font);
  font-size: 0.8rem;
  text-decoration: underline;
}

.flexBetween a:hover {
  color: var(--accentColor2);
  text-decoration: underline;
}

.orderInfo {
  font-family: var(--second-font);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
}

hr {
  border: 1px solid var(--accentColor3);
}

.dividerHrCart {
  display: none;
  border: 1px solid var(--accentColor3);
}

.cartpageBtn {
  margin-top: 3rem;
  margin-inline: auto;
  font-family: var(--main-font);
  font-size: 1.2rem;
  display: inline-block;
}

.backToBtnDivCart {
  order: 3;
  padding-top: 2rem;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .flexDiv {
    flex-direction: row;

    align-items: center;
    justify-content: center;
    margin-bottom: 9rem;
  }

  .productContainer {
    width: clamp(25rem, 50vw, 60rem);
  }

  .itemInfo {
    align-self: center;
  }

  .quantityDiv {
    display: flex;
  }

  .quantityBtn {
    width: 30px;
    height: 30px;
  }

  .cartText {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }

  .removeBtn {
    position: static;
    margin-left: 3rem;
  }

  .cartSummaryDiv {
    margin-inline: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .orderSummaryDiv {
    border: 1px solid var(--accentColor3);
    padding: 2rem;
    order: 2;
    min-width: 23rem;
  }

  .backToBtnDivCart {
    position: absolute;
    top: 40rem;
    left: 5%;
  }

  .dividerHrCart {
    display: block;
  }
}