.breadcrums{
  font-family: var(--second-font);
 margin-block: 1rem;
 color: gray;
}

.mainCheckoutPage{
  padding: 1rem;
  display: flex;
  align-items: center;
 
  flex-direction: column-reverse;

}


/* ---- Contactside ---- */
.sectionContact{
  display: flex;
  flex-direction: column;
 /* width: clamp(20rem, 30%, 50rem); */
 width: 100%;

} 

.expressBtnDiv {
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1rem;
}

.expressText {
  font-family: var(--second-font);
  /* font-size: 1rem; */
  margin-bottom: 1rem;
  margin-top: 3rem;

}

.expressBtn {
  padding: 0.5rem 2rem;
  /* margin-inline: 1rem; */
  border-radius: var(--borderRadius);
  border:none;
  flex: 1
}

.paypal {
  background-color: transparent;
  border: 1px solid rgb(155, 154, 154);
}


.google{
  background-color: rgb(27, 27, 27);
}
.dividerDiv {
  display: flex;
  align-items: center;
  width:100%;
  font-family: var(--second-font);
  margin-block: 1rem
}

.dividerDiv hr {
  width: 100%;
}

.dividerDiv p{
  margin: 1rem;
}



label {
  font-family: var(--second-font);
  font-size: 1rem;
}

.checkoutNameDiv {
  display:flex;
  gap:1rem;
  flex-direction: column;

}

.form-group {
  margin-top: 1.5rem;
  flex: 1;
}

.checkoutBtn {
  width: auto;
 margin-top: 5rem;
 align-self:flex-end;
}

/* ---- divider ---- */
.verticalDivider{
  height: auto;
  /* margin-inline: 2rem; */
  border: 1px solid var(--accentColor3);

}

/* ---- Summary Side ---- */
.sectionOrderSummary{
  /* width: 100%; */
  /* border: 1px solid red */
  width: 100%;
  /* width: clamp(rem, 20%, 30rem); */
}

.sectionOrderSummary hr{
  border: 1px solid var(--accentColor3);
  margin-block: 1rem;
  display:none;
}

.miniCart {
  display:flex;
  align-items: center;
  justify-content: space-between;

}
.miniCart img{
 height: 4rem; 
 width: 4rem; 

}


/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px)  {
  .mainCheckoutPage{
    padding: 4rem;
    align-items:flex-start;
    flex-direction: row;
    justify-content: center;

  }
  .expressBtnDiv {
    flex-direction: row;

  }
  .checkoutNameDiv {

    flex-direction: row;

  }
  .sectionContact{
    display: block;
  }

  .breadcrums{
  margin-block: 2rem;
  /* position:absolute; */
  }

  .verticalDivider{
    height: 100%;
    margin-inline: clamp(1rem, 3%, 4rem);
    border: 3px solid var(--accentColor3);
    
  }


  .sectionContact{
  width: clamp(34rem, 30%, 50rem);
  } 

  .sectionOrderSummary{
    margin-top: 2rem;
    border: 1px solid var(--accentColor3);
    padding: 2rem;
    width:20%;
    min-width: 20rem
    /* width: clamp(15rem, 20%, 30rem); */
  }


  .checkoutBtn {
  margin-top: 5rem;
  justify-self:end;
  }
}

/* ............ Desktops ................*/
@media (min-width: 1025px) {

}










