.backToBtnDiv {
  /* border: 2px solid rgb(148, 75, 197);  */
  /* justify-self: flex-start; */
  /* color: black;*/
  /* position: absolute; */
  /* bottom: 0px; */
  /* position: relative; */
  /* top: 600px; */
  /* left: 300px ; */
  /* margin-block: 0rem; */
}
.linkBackBtn {
  color: var(--accentColor1);
  font-family: var(--second-font);
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-size: 1.2rem;
}


.linkBackBtn:active {
  transform: translateY(2px);
}

.icon-tabler-arrow-left {
  height: 25px;
  width: 25px;
}

.backBtn {
  position: relative;
  margin: 1rem;
  width: 6rem;
}
/* -------- breadcrumbs -------- */
.navBreadCrumbs {
  margin: 1rem;
}

.breadcrumbs a {
  font-family: var(--second-font);
  color: gray;
  font-size: 0.9rem;
}

.breadcrumbs a:hover {
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.breadcrumbs {
  list-style: none;
  display: flex;
  gap: 0.1rem;
}

.breadcrumbs li + li::before {
  content: ">";
  margin: 0.1rem;
  /* text-decoration: none; */
  font-family: var(--second-font);
  color: gray;
}

.breadcrumbs li:last-child::after {
  content: "";
  margin-left: 0.5rem;
}

.breadcrumbs a[aria-current="page"] {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
/* -------- breadcrumbs STOP-------- */

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
.backBtn {
  margin: 2rem;
}

  .breadcrumbs a {
    font-family: var(--second-font);
    color: gray;
    font-size: 1rem;
  }

  .breadcrumbs {
    gap: 0.2rem;
  }

  .breadcrumbs li + li::before {
    margin: 0.6rem;
  }
}
