
.backToBtnDiv {
  /* border: 2px solid rgb(148, 75, 197);  */
  /* justify-self: flex-start; */
    /* color: black;*/
  /* position: absolute; */
  /* bottom: 0px; */
  margin-block: 2rem;
}

.backBtn {
  /* border: 2px solid rgb(0, 102, 255);  */
  color: var(--accentColor1);
  display: flex;
  align-items: center;
}

.backBtn:active {
  transform: translateY(2px);
}

.backBtn p{
  font-family: var(--main-font);
  font-size: 1rem;
}


/* -------- breadcrumbs -------- */
.navBreadCrumbs {
  margin: 1rem
}


.breadcrumbs a{
  font-family: var(--second-font);
 /* margin-block: 1rem; */
 color: gray;
 /* margin: 2rem */ 
}

.breadcrumbs a:hover{
  text-decoration-thickness: 2px; 
text-underline-offset: 3px;

}
.breadcrumbs{
  list-style:none;
  display:flex;
  gap:0.2rem
}

.breadcrumbs li + li::before {
  content: ">";
  margin: 0.2rem;
  /* text-decoration: none; */
  font-family: var(--second-font);
  color: gray;
}

.breadcrumbs li:last-child::after {
  content: "";
  margin-left: 0.5rem;
}

.breadcrumbs a[aria-current="page"] {
  text-decoration: underline;
  text-decoration-thickness: 2px; 
  text-underline-offset: 3px;

}
/* -------- breadcrumbs STOP-------- */




/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px)  {
.backBtn p{
  font-family: var(--main-font);
  font-size: 1.2rem;
}



.breadcrumbs{
  gap:0.2rem
}  



.breadcrumbs li + li::before {
  margin: 0.6rem;
}

}