.conformationMain{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--third-font);
  padding-top: 1rem;
  padding-bottom: 5rem
}

.icon-tabler-check{
  width: 15rem;
  height: 15rem;
  color: var(--conformation)
}

.conformationHeading{
  color: var(--conformationText);
  font-family: var(--second-font);
  padding-bottom: 5rem;
  font-size: 2.5rem;
}

.conformationInfo {
  font-size: 1.2rem;
  width:30rem;
  text-align: center;
  padding-bottom: 2rem

}

.orderNumber {
  font-size: 2rem;
  padding:2rem;
  padding-bottom: 8rem;
}