footer {
  background-color: var(--mainColor);
  font-family: var(--main-font);
  color: var(--accentColor3);
}

.flexDivFooter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-inline: clamp(10%, 12%, 8rem);
  padding-block: 9vw;
}

footer nav {
  line-height: 4rem;
  display: none;
}

footer ul {
  text-wrap: nowrap;
}

footer a {
  text-decoration: none;
  color: var(--accentColor3);
  font-size: 1rem;
}

footer li:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

footer h3 {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: white;
  font-weight: normal;
  margin-bottom: 1rem;
}

.logoAndSocials {
  margin-top: 30px;
  margin-inline: 1rem;
}

footer .logo {
  margin-inline: auto;
  margin-bottom: 2rem;
  display: block;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  height: 3rem;
  margin-top: 4rem;
}

.socials img {
  height: 40px;
}

footer p {
  justify-self: center;
  padding-bottom: 2rem;
}

.mobileLinks {
  display: block;
  text-decoration: underline;
  justify-self: center;
  padding-block: 10vw;
  text-underline-offset: 5px;
  text-transform: uppercase;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px) {
  footer nav {
    line-height: 4rem;
    display: block;
  }

  .flexDivFooter {
    flex-direction: row;
  }

  footer li {
    display: flex;
  }

  .mobileLinks {
    display: none;
  }
}
