

footer {
  background-color: var(--mainColor);
  font-family: var(--main-font);
  color: var(--accentColor3);

}

.flexDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* padding: 9vw 15vw; */
  padding-inline: clamp(15%, 12%, 8rem );
  /* padding-inline: 10%; */
   padding-block: 9vw;
 
}

footer li {
  line-height: 50px;
  display: none;
}
footer ul{
  margin: 1rem;
  text-wrap: nowrap;
  
}

footer a {
  text-decoration: none;
}

footer li:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

footer ul li:first-child {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: white;
}

.logoAndSosials {
  margin-top: 30px;

}

footer .logo {
  margin-inline: auto;
  margin-bottom: 2rem;
  display: block;
}

.sosials {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  margin-top: 4rem;
}

footer p {
  justify-self: center;
  padding-bottom: 2rem;
}

.mobileLinks {
  display: block;
  text-decoration: underline;
  justify-self: center;
  /* line-height: 4rem; */
  padding-block: 10vw;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px) /*and (max-width: 1024px) */ {

  .flexDiv {
      flex-direction: row;
  }

  footer li{
    display: flex;
  }

  .mobileLinks {
  display: none;
}
}
