* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  /* color:black; */
  text-decoration: none;
}

/* a:focus {
  border: 2px solid var(--accentColor3);
} */

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
}

/*............ Large Desktops ................*/
@media (min-width: 2550px) {
  main {
    padding-inline: 20rem;
  }

}

/* ------------- */
h1 {
  font-family: "Open sans";
  font-weight: 400;
  font-size: 2rem;
}

h2 {
  font-family: "Open sans";
  font-weight: 400;
  font-size: 1.4rem;
  padding-block: 1rem;
}

input {
  font-size: 1rem;
  padding: 0.8rem;
  border: 2px solid var(--accentColor3);
  border-radius: var(--borderRadius);
  width: 100%;
}

input:focus {
  border-style: solid;
  border-color: var(--accentColor1);
  outline: none;
}

.btn {
  display: block;
  padding: 0.6rem 2rem;
  font-family: var(--second-font);
  font-size: 1rem;
  background-color: var(--accentColor1);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--borderRadius);
  text-decoration: none;
}

.btn:hover {
  background-color: var(--logoColor);
  text-decoration: none;
}

.btn:active {
  background-color: var(--darkestColor);
  color: white;
  transform: translateY(2px);
  text-decoration: none;
}

.btn::after {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/* look into this - cart */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.line-through{
  text-decoration: line-through;
}