* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




a {
  /* color:black; */
  text-decoration: none;

}

a:hover{
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
}

/*............ Large Desktops ................*/
@media (min-width: 2550px) {
  main {
    padding-inline: 20rem;
  
  } 

   #gridContainerHomepage {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 40%;
  }
}
/* ------------- */
h1 {
  font-family: "Open sans";
  font-weight: 400;
  font-size: 1.5rem;
 
}

input {
  font-size: 1rem;
  padding: 0.8rem;
  border: 2px solid var(--accentColor3);
  border-radius: 3px;
}

input:focus {
  border-style: solid;
  border-color: var(--accentColor1);
  outline: none;
}

.btn {
  display: block;
  padding: 0.6rem 2rem;
  font-family: var(--second-font);
  font-size: 1rem;
  background-color: var(--accentColor1);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn:hover {
  background-color: var(--logoColor);
}

.btn:active {
  background-color: var(--darkestColor);
  color: white;
}

