*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  /* color:black; */
  text-decoration: none;
}

li {
  list-style-type: none;
}


.title{
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
}

/*............ Desktops ................*/
@media (min-width: 2550px) {
  body {
    padding-inline: 20rem;
  }

}

h1 {
  font-family: 'Open sans';
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
}
