*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color:black;
  text-decoration: none;
}

/*............ Desktops ................*/
@media (min-width: 2550px) {
  body {
    padding-inline: 20rem;
  }

}
