header {
  position: static;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  height: 3.5rem;
  margin-top: 0rem;
  /*dette er ikke et godt valg*/
  box-shadow: 0 1px 3px hsla(193, 53%, 35%, 0.12);
}

.navLinks {
  display: none;
  justify-content: space-evenly;
  flex: 1;
  /* flex-direction: column; */
  /* justify-self: center */
}

.navLink {
  text-decoration: transparent;
  font-family: var(--third-font);
  color: var(--mainColor);
  text-decoration-thickness: 2px;
  padding: 1.5rem;
  text-transform: uppercase;
}

.navMobLinks {
  position: absolute;
  z-index: 100;
}

.navlink[aria-current="page"] {
  color: var(--accentColor1)
}

.navLink:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navLink:active {
  color: #2b778b;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

#hamburgerBTN {
  padding: 5px;
  margin: 1rem;
  background-color: transparent;
  border-style: none;
}

#hamburgerSvg {
  padding: 1px;
  height: 2rem;
}

#headerSvgs {
  display: none;
}

.cartNotification {
  position: absolute;
  bottom: -9px;
  right: 5px;
  background-color: red;
  color: white;
  /* width: 1rem;
  height:1rem; */
  /* padding: 0.2rem 0.4rem 0.1rem 0.4rem; */
  border-radius: 999px;
  position: absolute;
  font-size: 12px;
}

.under10 {
  padding: 0.2rem 0.3rem 0.1rem 0.2rem;
}

.over10 {
  padding: 0.2rem 0.2rem 0.1rem 0.8rem;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px)
/*and (max-width: 1024px)*/
  {
  header {
    padding-inline: 1.5rem;
    /* background-color: rgb(236, 180, 180); */
    height: 3.5rem;
    margin-top: 0rem
  }

  .navLinks {
    display: flex;

  }

  #hamburgerBTN {
    display: none;
  }

  #headerSvgs {
    display: flex;

  }

  .headerSvg {
    padding-inline: 0.5rem;
  }
}



/*............ Desktops ................*/
@media (min-width: 1025px) {
  header {
    padding-inline: 1.5rem;
    /* background-color: rgb(235, 142, 142); */
    height: 4rem;
    margin-top: 0px;
    align-items: center;
  }

  .navLinks {
    max-width: 70rem;
    font-size: 1.4rem;
    justify-self: center;
  }

  #hamburgerBTN {
    display: none;
  }

  #headerSvgs {
    display: flex;
    padding-inline: 3rem;

    /* border: 2px solid red */
  }

  .headerSvg {
    padding-inline: 1rem;
    /* border: 2px solid red; */
    height: 100%
  }
}

.navMobLinks,
#menu-checkbox {
  display: none;
  position: relative;
}

#menu-checkbox:checked~.navMobLinks {
  display: block;
}

.navMobLinks {
  position: absolute;
  right: 0;
  top: 56px;
  background-color: var(--accentColor5);
  padding-block: 1rem;
  /* flex-direction: column; */
}

.navLink {
  display: block;
  padding-block: 0.4rem;
  padding-left: 1rem;
  padding-right: 3rem;
  color: var(--mainColor);
}

.navLink:active {
  background-color: var(--accentColor4);

}