.genderPhotoDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.genderPhotoDivCouple {
  display: none;
}

.pictureDiv {
  display: flex;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: end;
}

.skeleton-card-container {
  display: none;
}

.genderPhoto {
  height: auto;
  width: 100%;
  margin: 0px;
  position: relative;
}

.genderBtn {
  margin: 5vw;
  margin-right: 1vw;
  border-radius: var(--borderRadius);
  font-size: 4.5vw;
  background-color: var(--accentColor4);
  padding: 10px 19px 4px;
  font-family: var(--third-font);
  border-style: none;
  color: var(--mainColor);
}

.genderBtn a {
  color: var(--mainColor);
}

.genderBtn:hover {
  background-color: var(--accentColor3);
}

.genderBtn:active {
  background-color: var(--accentColor2);
}

.genderButtonsDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
}

.genderPhotoSingle {
  height: auto;
  width: 100%;
}


/* ------------- cards on mainpage ------------ */
.card:last-child {
  display: none;
}

.bestsellerDiv {
  margin-inline: auto;
  align-self: center;
  justify-self: center;
  display: flex;
  text-wrap: nowrap;
  margin-inline: 1rem;
  align-items: start;
  flex-direction: column;
  margin-top: 2rem;
}


.bestsellerLink {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: black;
  font-family: var(--second-font);
  font-size: 1.5rem;
  justify-self: start;
}

.getAll {
  display: none
}

#gridContainerHomepage {
  grid-template-columns: 1fr 1fr;
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  margin-bottom: 3rem;
}

.icon-tabler-arrow-right {
  width: 40px;
  height: 40px;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px) {
  .genderPhotoDivSingle {
    display: none;
  }

  .genderPhotoDivCouple {
    display: flex;
  }

  .pictureDiv {
    justify-content: center;
    align-items: end;
  }

  .genderBtn {
    position: absolute;
    margin: 3vw;
    font-size: 2vw;
    padding: 8px 19px 4px 19px;
  }

  .genderPhotoSingle {
    display: none;
  }

  .headingMainpage {
    margin-left: 0%;
  }

  #gridContainerHomepage {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skeleton-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .bestsellerDiv {
    margin-inline: 1rem;
  }

  .card:last-child {
    display: flex;
  }

  .bestesellerDivDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .getAll {
    display: block;
    margin: 1vw;
    margin-right: 1vw;
    border-radius: var(--borderRadius);
    font-size: 1.5rem;
    background-color: var(--accentColor4);
    padding: 6px 19px 6px;
    font-family: var(--main-font);
    border: 2px solid var(--accentColor2);
    color: var(--mainColor);
  }
}

/*............ Desktops ................*/
@media (min-width: 1025px) {
  #gridContainerHomepage {
    width: 60rem;
  }

  .card:last-child {
    display: flex;
  }

  .bestsellerLink {
    font-size: 2rem;
  }
}

/* ---------- skeleton -------------  */

.skeleton-card-container {
  grid-template-columns: 1fr 1fr;
  display: grid;
  column-gap: 5px;
  row-gap: 20px;
  margin-bottom: 3rem;
}

.skeletonCard {
  width: 10rem;
  border-radius: var(--borderRadius);
  height: 20rem;
  margin: 0.5rem;
  background: linear-gradient(90deg, #dadada 25%, rgb(243, 242, 242) 50%, #dadada 75%);
  background-size: 200% 100%;
  animation: loading 4s infinite
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px) {
  .skeleton-card-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    margin-bottom: 3rem;
  }

  .skeletonCard {
    width: 20rem;
    height: 30rem;
    border-radius: var(--borderRadius);

    margin: 1rem
  }
}

@keyframes loading {
  0% {
    background-position: 0% 0
  }

  50% {
    background-position: 200% 0;
  }

  100% {
    background-position: 0% 0
  }
}