.genderPhotoDiv {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.genderPhotoDivCouple {
  display: none;
}

.pictureDiv {
  background: orange;
  display: flex;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: end;
}

.genderPhoto {
  height: auto;
  width: 100%;
  margin: 0px;
  position: relative;
}

.genderBtn {
  /* position:static; */
  /* display:block; */
  margin: 5vw;
  margin-right: 1vw;
  border-radius: 3px;
  font-size: 4.5vw;
background-color: var(--accentColor4);
  padding: 10px 19px 4px;
  font-family: var(--third-font) ;
 border-style: none;
  color: var(--mainColor);

}
.genderBtn a {
 color: var(--mainColor)
}


.genderBtn:hover{
   background-color: var(--accentColor3);
}

.genderBtn:active {
   background-color: var(--accentColor2);
  
}
/* .genderBtn:active ~ .genderBtn a{
  color: white;


} */

.genderButtonsDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
}
.genderPhotoSingle {
  height: auto;
  width: 100%;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px) /*and (max-width: 1024px) */ {
  .genderPhotoDivSingle {
    display: none;
  }

  .genderPhotoDivCouple {
    display: flex;
  }

  .pictureDiv {
    justify-content: center;
    align-items: end;
  }

  .genderBtn {
    position: absolute;
    margin: 3vw;
    font-size: 2vw;
    padding: 8px 19px 4px 19px;
  }

  .genderPhotoSingle {
    display: none;
  }
}



