.genderPhotoDiv {
  /* display:block; */
  background-color: aqua;
  display: flex;
  justify-content:center;
  align-items:flex-end;
  /* margin-inline: 10% */
  gap: 0;
}

.pictureDiv {
  background: orange;  
  display:flex;
 /* position: relative; */
  width:100vw;
  display:flex;
  justify-content: center;
  align-items:end; 

}

.genderPhoto {
 /* flex:1; */
  height: auto;
  width: 100%;
  /* max-width: 920px; */
  /* border: 1px solid red; */
  margin: 0px;
  position: relative;
}


.genderBtn {
  position:absolute;
  margin:50px;
  border-radius: 3px;
  font-size: 2.5rem;
  font-family: 'overpass mono';
  padding: 13px 19px 4px 19px;
  border: none;
  
}

