.flexDivItemPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
}



.itemImage {
  width: 100%;
}

.textSide {
  padding-block: 5rem;
}

.h1Itemname {
  font-family: var(--main-font);
  padding-inline: 0px;
  font-size: 2rem;
  font-weight: 500;
}

.price {
  font-family: var(--second-font);
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.infoText {
  font-family: var(--second-font);
  font-size: 1.3rem;
  margin-block: 1.5rem;
}

.sizeBtn {
  width: 40px;
  height: 40px;
  background-color: white;
  border-color: var(--accentColor2);
  border-radius: var(--borderRadius);
  color: black;
  border-style: solid;
  margin: 0.2rem;
  font-size: 2rem;
}

.buttonDiv {
  margin-block: 2rem;
}

.itempageBtn {
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .infoText {
    font-size: 1.5rem;
    margin-block: 2rem;
    width: 30rem;
  }

  .itemImage {
    padding-inline: 4rem;
  }

  .textSide {
    padding-block: 0rem;
  }

  .flexDivItemPage {
    flex-direction: row;
    align-items: center;
    margin-bottom: 9rem;
  }
}


/* skeleton */

.skeleton-image,
.skeleton-heading, 
.skeleton-text div,
.skeleton-size,
.skeleton-button
{
  width: 500px;
  /* background-color: rgb(129, 127, 127); */
  height: 1rem;
  margin:1rem;
  background: linear-gradient(90deg, #dadada 25%, rgb(243, 242, 242) 50%, #dadada 75%);
  background-size: 200% 100%;
  animation: loading 4s infinite;
}

@keyframes loading {
  0% {background-position:  0% 0}
  50% {background-position: 200% 0;}
  100% {background-position: 0% 0}
} 



/* 
.red {
  background-color: red;
}
.blue {
  background-color: blue;
} */
.skeleton-image{
  height: 500px
}

.skeleton-heading{
 height: 5rem;
 margin-bottom: 4rem
}

.skeleton-size{
  height: 3rem;
  width: 19rem;
  margin-top: 5rem;

}

.skeleton-button{ 
  height: 4rem;
  width: 19rem;
  margin-top: 2rem

}