.flexDivItemPage {
  font-family:  var(--main-font);
  position:relative;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
}

.itemImage {
  width:100%;
}

.textSide {
  padding-block: 5rem;
}
.statusInfo{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.h1Itemname {
  font-family: var(--main-font);
  padding-inline: 0px;
  font-size: 2rem;
  font-weight: 500;
}

.price {
  font-family: var(--second-font);
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.infoText {
  font-family: var(--second-font);
  font-size: 1.3rem;
  margin-block: 1.5rem;
}

.buttonDiv{
display:flex
}

.size-radio{
  display: absolute;
  pointer-events: none;
  opacity: 0;
  width: 1px;
  height: 1;
}

.size-radio:checked + .sizeBtn{
 background-color: var(--accentColor2);
}
 

.sizeBtn {
  padding: 0.5rem;
  background-color: white;
  border-color: var(--accentColor2);
  border-radius: var(--borderRadius);
  color: black;
  border-style: solid;
  margin: 0.2rem;
  font-size: 1rem;
  cursor:pointer;
  /* font-weight:500 */
}

.buttonDiv {
  margin-block: 2rem;
}

#noSizeError{
  display: none;
  align-items: center;
  border: 3px solid rgb(243, 37, 37);
  background-color: rgb(248, 118, 118);
  color: rgb(253, 247, 247);
  font-weight: 500;
  letter-spacing: 1px ;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--borderRadius);
}

#noSizeError svg{
  margin-right: 1rem
}
.toastNotification{
  position: absolute;
  display:flex;
  align-items: center;
  top: 0px;
  right: 0.5rem;
  padding: 1.5rem;
  background-color: rgb(12, 165, 50);
  width: 25rem;
  border-radius:var(--borderRadius);
  color: white;
  /* would be fun, but difficult: */
  /* opacity: 1;
  transition: ease-in-out 0.9s, transform 0.9s; */
}

.toastNotification svg {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  stroke: white
}

.itempageBtn {
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
}

.cartBtn{
  position: relative;
}

.priceContainer{
  font-size: 1.2rem;
  padding-top: 0.8rem ;
}

.price{
  font-size: 1.5rem;
  padding-bottom: 0.3rem ;
}
.gray {
  color: rgb(112, 112, 112)
}

.beforePriceDiv{
  font-size: 0.9rem;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .infoText {
    font-size: 1.2rem;
    margin-block: 2rem;
    width: 30rem;
  }

  .itemImage{
    padding-inline: 4rem;
    width: auto;
    height: 30rem
  }

  .textSide {
    padding-block: 0rem;
  }

  .content {
    flex-direction: row;
    align-items: center;
    margin-bottom: 9rem;
}

}

 
/* ---------- skeleton -------------  */
.skeleton-container{
  display: flex;
  flex-direction: row;
}

.content {
  display:none;
}

.skeleton-image,
.skeleton-heading, 
.skeleton-text div,
.skeleton-size,
.skeleton-button
{
  width: 500px;
  /* background-color: rgb(129, 127, 127); */
  height: 1rem;
  margin:1rem;
  background: linear-gradient(90deg, #dadada 25%, rgb(243, 242, 242) 50%, #dadada 75%);
  background-size: 200% 100%;
  animation: loading 4s infinite;
}

@keyframes loading {
  0% {background-position:  0% 0}
  50% {background-position: 200% 0;}
  100% {background-position: 0% 0}
} 


.skeleton-image{
  height: 500px
}

.skeleton-heading{
 height: 5rem;
 margin-bottom: 4rem
}

.skeleton-size{
  height: 3rem;
  width: 19rem;
  margin-top: 5rem;

}

.skeleton-button{ 
  height: 4rem;
  width: 19rem;
  margin-top: 2rem

}

/* ---------- skeleton STOP-------------  */