.flexDivItemPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
}



.itemImage {
  width: 100%;
}

.textSide {
  padding-block: 5rem;
}

.h1Itemname {
  font-family: var(--main-font);
  padding-inline: 0px;
  font-size: 2rem;
  font-weight: 500;
}

.price {
  font-family: var(--second-font);
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.infoText {
  font-family: var(--second-font);
  font-size: 1.3rem;
  margin-block: 1.5rem;
}

.sizeBtn {
  width: 40px;
  height: 40px;
  background-color: white;
  border-color: var(--accentColor2);
  border-radius: var(--borderRadius);
  color: black;
  border-style: solid;
  margin: 0.2rem;
  font-size: 2rem;
}

.buttonDiv {
  margin-block: 2rem;
}

.itempageBtn {
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .infoText {
    font-size: 1.5rem;
    margin-block: 2rem;
    width: 30rem;
  }

  .itemImage {
    padding-inline: 4rem;
  }

  .textSide {
    padding-block: 0rem;
  }

  .flexDivItemPage {
    flex-direction: row;
    align-items: center;
    margin-bottom: 9rem;
  }
}