.memberDiv {
  /* display:flex; */
  /* flex-direction: column;
  justify-content: center; */
  padding: 1rem;
  text-align: center;
  background-color: var(--accentColor4);
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.memberDiv h1 {
  font-family: var(--second-font);
  font-weight: bold;
  letter-spacing: 2%;
  font-size: 1.5rem;
  color:black;

}

.memberDiv p {
  font-family: var(--main-font);
  margin-inline: 3rem;
  margin-bottom: 1rem;
  color:black;
}

.memberInput {
  margin-block: 1rem;
  width: clamp(4rem, 90%, 30rem);
}

.signUpButton {
  display: inline-block;
  padding-block: 0.7rem 0.8rem;
  margin-inline: 0.5rem;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px) /*and (max-width: 1024px) */ {
  .memberDiv h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .memberDiv p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .memberDiv {
    padding-bottom: 5rem;
  }

  .memberInput {
    height: 4rem;
    font-size: 1.5rem;
    vertical-align: middle;
  }

  .signUpButton {
    font-size: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    vertical-align: middle;
  }
}
