.shoppingMain{
  margin-bottom: 3rem;
}

.productsHeadingDiv {
  margin-inline: auto;
  align-self: center;
  justify-self: center;
  display: flex;
  text-wrap: nowrap;
  margin-inline: 1rem;
  align-items: start;
  flex-direction: column;
  margin-top: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
  text-wrap: wrap;
}

aside {

  left: 0px;
  width: 20rem;
}
.productsHeadingDiv h1 {
  padding-block: 1rem;
}

.categoryList{
  display: none;
  background-color: var(--accentColor4);
  width: 14rem;
  margin: 2rem;
  padding-inline: 1rem;
}

.categoryItem {
  color: black;
  font-family: var(--second-font);
  padding: 1rem;

}

.categoryList:last-child{
  padding-bottom: 1rem
}

.categoryItem a{
  color: black;
}


/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px)  {
.shoppingMain {
  display:flex;
}

.icon-tabler-arrow-left {
  height: 40px;
  width: 40px
}

.categoryList{
   display: block;
}
}



/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px) /*and (max-width: 1024px) */ {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 20px;

  }
}

