:root {
  /* --main-font: 'Montserrat'; */
  --main-font: 'Montserrat', verdana;
  --second-font: 'Open Sans', verdana;
  --third-font: "Overpass Mono", monospace;
}


:root {
  --logoColor: #0A3641;
  --mainColor: #1E2832;
  --accentColor1: #2b788b;
  --accentColor2: #80c3d4;
  --accentColor3: #a9deec;
  --accentColor4: #def4f9;
  --accentColor5: #f5fbfd;
  --darkestColor: #051C22;

  --conformation: #A2C23B;
  --conformationText: #73B136;
}

:root {
  --borderRadius: 5px
}